* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.intro {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.lista {
  list-style: none;
}
.menu {
  display: inline-block;
}

.link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.footer {
  background-color: black;
  color: gray;
  padding: 40px 20px 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu_item_footer {
  color: gray;
  text-decoration: none;
  display: inline-block;
}

.logo {
  width: 150px;
  display: inline-block;
}

.menu_item {
  display: inline-block;
}

.section_imagen {
  background-image: url('../images/premium_dancer.png');
  background-repeat: no-repeat;
  background-size: 400px;
  background-color: cornflowerblue;
  background-position: bottom right;
  width: 100%;

  padding: 20px;
  color: white;
}
.titulo_grande {
  font-size: 80px;
  width: 70%;
  margin: 60px 0 0 0;
}

.titulo_2 {
  font-size: 35px;
  margin: 40px 0 40px 0;
}

.boton {
  background-color: limegreen;
  width: 150px;
  display: flex;
  padding: 10px;
  justify-content: center;
  margin: 40px 0 40px 0;
  border-radius: 40px;
}

.letra_peq {
  font-size: 12px;
  width: 43%;
  margin: 0 0 20px 0;
}

.titulo_premium {
  font-size: 45px;
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 0 0 60px 0;
}

.condiciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 60px 0 60px 0;
}
.icono1,
.icono2,
.icono3,
.icono4 {
  text-align: center;
}
.icono1 {
  width: 25%;
}
.icono2 {
  width: 25%;
}
.icono3 {
  width: 25%;
}
.icono4 {
  width: 25%;
}
.img_beneficts {
  width: 50%;
}
.subtitulos {
  font-weight: bold;
  font-size: 20px;
  line-height: 2;
}
.menus {
  display: inline-block;
}
.enlace_footer {
  color: gray;
  text-decoration: none;
  margin: 6px;
}
.texto_der {
  text-align: right;
}
.bandera {
  width: 20px;
}
.texro_espana {
  margin-bottom: 10px;
}
